# data / outputs
data/
experiments/
experiments_optimization/
gaussian_output/
gaussian_output_dynamic/
results/
output/
outputs/

# large artifacts
*.zip
*.pkl
*.npz
*.pth
*.pt
*.mp4
*.mov
*.avi
*.png
*.jpg
*.jpeg

# python
__pycache__/
*.pyc
.ipynb_checkpoints/
.venv/
.env/

# logs
wandb/
*.log
*_stdout_stderr.txt
